<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDT5W6pT9akPHf2UW184rc5DNfnTVl7Q6U</string>
	<key>GCM_SENDER_ID</key>
	<string>981961693233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayank.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-8f649</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-8f649.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981961693233:ios:daa991876798748dae9d10</string>
</dict>
</plist>